.header {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #3498db;
    box-shadow: #1f618d;
   
}

.header-container {
    display: block; /* Cambiado de 'flex' a 'block' */
    padding: 0 20px;
}

.header-title {
    margin: 0;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.header-button {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #2980b9;
}

.header-button:hover {
    background-color: #1f618d;
}