.cuadro{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cajatexto{
    background-color:rgba(0, 102, 255, 0.792);
    border-color: slategray;
    border-radius: 20px;
    width: 100%;
    padding: 15px;
    border-width: 0%;
    margin-bottom: 20px;
}

.cajatexto:focus{
    outline: 1px solid cornflowerblue;
    box-shadow: 0 0 10px cornflowerblue;
}

.btnform{
    background-color:rgba(0, 102, 255, 0.792);
    border-color: slategray;
    border-radius: 20px;
    width: 100%;
    padding: 15px;
    border-width: 0%;
    margin-bottom: 20px;
    color: white;
}

