#title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    padding: 5%;
    background-color: rgb(167, 123, 131);
}
.details{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10%;
    margin: 5%;
}
.image{
    border-radius: 10px;
    width: 50%;
}

.btn {
    
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white /* Color de fondo */
    
  }
  
  /* Estilos del botón al pasar el cursor sobre él */
  .btn:hover {
    background-color: palevioletred; /* Cambia el color de fondo al pasar el cursor */
  }